.container
  .jumbotron
    %h1 Welcome to our site!
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum scelerisque sem non bibendum.
    Curabitur commodo lectus non nisi tincidunt, id venenatis neque hendrerit. Maecenas a pharetra ipsum, sed posuere est.
    Nullam dictum odio velit, non accumsan elit faucibus non. Pellentesque in mauris arcu.
    Nullam venenatis sem purus, sit amet faucibus magna rhoncus rutrum. In maximus mi mattis, ornare nisi vel, elementum neque. Phasellus sit amet dolor orci. Maecenas commodo nisl ut posuere accumsan. Sed vel suscipit nisi.
